* {
    padding: 0;
    margin: 0;
    font-family: 'Muli', sans-serif;
}

a:focus, button:focus, input:focus, textarea:focus {
    outline: none;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s all;
}

a:hover {
    color: chocolate;
}

button {
    background-color: chocolate;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s all;
}

.height {
    height: 50px;
}

#loginPage {
    background-image: url(../images/3.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, .8);
}

header {
    width: 100%;
    position: fixed;
    padding: 10px;
    z-index: 1000;
}

#home-header {
    transition: 0.3s all;
}

header.hbg {
    background-color: chocolate;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header.hbg a:hover {
    color: #fff;
}

header .logo {
    color: #fff;
    margin-left: 40px;
}

nav {
    float: right;
    margin-top: -25px;
}

nav ul li {
    display: inline;
    padding-right: 40px;
}

.menu {
    display: none;
}

#home {
    width: 100%;
    height: 400px;
    background-image: url(../images/1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, .6);
}

#home .title {
    text-align: center;
    color: #fff;
    padding-top: 150px;
}

#home .title h1 {
    font-size: 50px;
    font-family: 'Playfair Display', sans-serif;
}

#home .title button {
    margin-top: 10px;
}

.div {
    border: 2px solid chocolate;
    width: 60px;
    margin-top: 5px;
}

#foods {
    padding: 50px;
}

#foods .item {
    width: 30%;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 30px;
    margin-right: 3.3%;
    float: left;
}

#foods .item img {
    width: 100%;
    cursor: pointer;
    transition: 0.3s all;
}

#foods .item img:hover {
    filter: grayscale(100%);
    transform: scale(1.1,1.1);
}

#foods .item .item-text {
    text-align: center;
    padding: 10px 20px;
}

#foods .item .item-text a {
    color: #000;
}

.clear {
    clear: both;
}

/** Jumbotron */

#jumbotron {
    background-image: url(../images/3.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 50px;
}

#jumbotron h1 {
    font-size: 40px;
    color: #fff;
}

/** Order */

#order {
    width: 100%;
    height: 250px;
    background-image: url(../images/1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, .6);
}

#order .title {
    text-align: center;
    color: #fff;
    padding-top: 100px;
}

#order .title h1 {
    font-size: 50px;
    font-family: 'Playfair Display', sans-serif;
}

#order .title button {
    margin-top: 10px;
}

#placeorder {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    padding: 50px;
}

#placeorder input {
    color: #aaa !important;
}

#placeorder textarea {
    background-color: transparent;
    display: block;
    width: 100%;
    padding: 10px;
    padding-right: 0;
    margin-bottom: 20px;
    border: 1px solid chocolate;
    color: #aaa;
    transition: 0.3s all;
    resize: none;
}

.placeorder {
    width: 500px;
}

.placeorder h2 {
    margin-bottom: 10px;
    color: #aaa;
}

/** Profile **/

#profile {
    width: 100%;
    height: 250px;
    background-image: url(../images/4.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, .75);
}

#profile .title {
    text-align: center;
    color: #fff;
    padding-top: 100px;
}

#profile .title h1 {
    font-size: 50px;
    font-family: 'Playfair Display', sans-serif;
}

#profile .title button {
    margin-top: 10px;
}

#recentorders {
    padding: 50px;
}

#myorders {
    padding: 50px;
}

table {
    margin-top: 50px;
    width: 100%;
}

.table {
    overflow: auto;
}

table thead {
    background-color: chocolate;
    color: #fff;
}

table thead th {
    padding: 15px;
}

table tbody {
    text-align: center;
}

table tbody tr td {
    background-color: #aaa;
    padding: 15px;
    color: #fff;
}

/** Login **/
#login {
    padding-top: 100px;
}

.login {
    width: 400px;
    color: #fff;
}

.login h4 {
    margin-bottom: 20px;
}

#login input, #placeorder input {
    background-color: transparent;
    display: block;
    width: 100%;
    padding: 10px;
    padding-right: 0;
    margin-bottom: 20px;
    border: 1px solid chocolate;
    color: #fff;
    transition: 0.3s all;
}

#login input:focus, #placeorder input:focus {
    border: 1px solid transparent;
    border-left: 1px solid chocolate;
}

#login button, #placeorder button {
    width: 30%;
}

#login button:hover, #placeorder button:hover {
    width: 60%;
}

/** Footer */

footer {
    background-color: chocolate;
    padding: 20px;
    text-align: center;
}

/** Responsive **/

@media (max-width: 500px) {
    header, header.hbg {
        background-color: chocolate;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 10px;
    }
    
    header a:hover, header.hbg a:hover {
        color: #fff;
    }
    
    header .logo, header.hbg .logo {
        color: #fff;
        margin-left: 10px;
    }
    
    nav ul li {
        display: none;
    }

    .menu {
        display: block;
        padding-right: 30px;
    }
    
    #home {
        height: 250px;
    }

    #home .title, #order .title {
        padding-top: 100px;
    }
    
    #home .title h1, #order .title h1 {
        font-size: 35px;
    }

    #foods .item {
        width: 100%;
        margin-top: 30px;
        float: none;
    }

    #loginPage {
        background-image: none;
    }

    .login {
        width: 100%;
    }

    #login input, #placeorder input {
        width: 80%;
    }

    #placeorder {
        padding: 10px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}